{% extends 'admin/base.html.twig' %}


{% block header %}
    <nav class="top_nav">
        <a href="{{ path ('admin_home') }}">
            <span><img src="{{ asset ('../public/assets/images/logo_RGB_Final.png') }}" alt="logo RGB"></span>
        </a>
        <ul class="ul_nav">
            <li class="li_nav"><a href="{{ path ('admin_carte') }}" >La Carte</a></li>
            <li class="li_nav"><a href="{{ path ('admin_events') }}">Events</a></li>
            <li class="li_nav"><a href="{{ path ('admin_staff') }}" >Le Staff</a></li>
            <li class="li_nav"><a href="{{ path ('admin_faq') }}" >FAQ</a></li>
        </ul>
    </nav>
{% endblock %}


{% block main %}

    {% for article in articles %}
        <div class="description_staff">
            <article class="staff_page">
                <h1>{{ article.title }}</h1>
                <p>{{ article.content }}</p>
                <img src="{{ asset('uploads/images/') ~ article.picture.name }}" alt="">

            </article>
            <div class="lien">
                <a href="{{ path ('admin_insert_article',{'id':article.id }) }}">Modifier cet élément </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}