{% extends 'admin/base.html.twig' %}


{% block header %}
    <nav class="top_nav">
        <a href="{{ path ('admin_home') }}">
            <span><img src="{{ asset ('../public/assets/images/logo_RGB_Final.png') }}" alt="logo RGB"></span>
        </a>
        <ul class="ul_nav">
            <li class="li_nav"><a href="{{ path ('admin_carte') }}" >La Carte</a></li>
            <li class="li_nav"><a href="{{ path ('admin_events') }}">Events</a></li>
            <li class="li_nav"><a href="{{ path ('admin_staff') }}" >Le Staff</a></li>
            <li class="li_nav"><a href="{{ path ('admin_faq') }}" >FAQ</a></li>
        </ul>
    </nav>
{% endblock %}


{% block main %}

    <section class="staff_container">
    {% for article in articles %}

        <div class="description_staff">

            <article class="staff_page">

                <img src="{{ asset('uploads/images/') ~ article.picture.name }}" alt="" class="profil_pic" width="300px" height="300px">

                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>

                <div class="lien_container">
                     <a class="btn_secondary" href="{{ path ('admin_insert_article',{'id':article.id }) }}">Modifier cet élément </a>
                </div>
            </article>
        </div>

    {% endfor %}
    </section>

{% endblock %}

{% block footer %}

{% endblock %}